*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font: sans-serif;
    font-size: 40px;
}

.grid, .grid2, .container, .container2{
    margin-top: 40px;
}

.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    
    /* O Gap é a distancia(espaçamento) que a gente tem entre as colunas e as linhas */

    /* Especificando */
    /* row-gap: 30px;
    column-gap: 30px;  */

    /* Atalho: pra geral coluna e linhas*/
    /* gap: 30px; */
    /* Linha e coluna */
    gap: 30px 80px;
}

.grid div{
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5){
    background-color: brown;
}


/* Simulando gap com margin */
.grid2{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.grid2 div{
    background-color: tomato;
    min-height: 100px;

    /* Com essa simulação a segunda coluna
    fica com um espaço em branco no final que não completa
    tudo */
    /* Simulação do gap entre as colunas*/
    margin-right: 30px;

    /* Distancia entre as linhas */
    margin-bottom: 30px;
}

.grid2 div:nth-child(5){
    background-color: brown;
}

/* Corrigindo o espaço em branco do margin 
possiveis soluções:
margin negativa
posicionamento pra arrastar o elemento, crscer o elemento um pouco
e depois arrasta ele um pouco pro lado, mas atualmente no css temos funções então podemos
utilizar calculo e a cabeça pra fazer algo*/

/* Gambiarra: Solução com o container e calc caso o navegador não aceite utilizar gap*/
.container{
    /* Colocando a largura e a margin nele */
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid3{
    display: grid;
    /* colocando o width na grid, corrigiu, mas a grid não fica responsiva */
    /* width: 1230px; */

    /* Com isso a gente utiliza a função calc, calcular coisas, unidades e unidades diferentes */
    width: calc(100% + 30px);

    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.grid3 div{
    background-color: tomato;
    min-height: 100px;

    /* Esta sobrando 30px pra direita
    pensamento: se o meu grid tivesse 1230px de largura eu consiguiria ocultar o espaço em branco
    de alguma maneira: 1º Colocando um container no html*/
    margin-right: 30px;

    /* sobra pra baixo não tem problema, porque geralmente a gente quer
    que sobre um espaço */
    margin-bottom: 30px;
}

.grid3 div:nth-child(5){
    background-color: brown;
}


/* Gambiarra: Solução com o container e sem o calc*/
.container2{
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid4{
    display: grid;

    /* O calc era basicamente pra aumentar um pouco o tamanho da grid, mas temos
    outra gambiarra que é o mover a grid um pouco pro lado, fazendo uma margin negativa*/
    margin-right: -30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.grid4 div{
    background-color: tomato;
    min-height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.grid4 div:nth-child(5){
    background-color: brown;
}

/* Dica: Sempre tentar focar em um so navegador e fazer uma melhor solução pra esse navegador */