*{
    margin: 0;
    padding: 0px;
}

/* Seletor por classe */
    /* Quando tenho seleções bem especificas por class dentro do meu codigo, eu posso reutilizar em outros elementos
    que não sejam do mesmo tipo, por exemplo para um paragrafo*/
        /* Então o estilo é so aplicado para tags especificas que estejam com essa class */
.color-red{
    color:red;
}

/* Classe por tag: */
/* Colocar classe pai, pra que a partir dessa classe  selecionar os elementos dentro dessa classe*/
    /* Pra todo h2 que estiver dentro dessa div pai tenha a class main-content eu quero colocar algo*/
        /* Todo h2 que esta dentro dessa div pai com essa class pai tera esse estilo padrão 
        então todo filho selecionado no caso h2 que tem como pai a div com a classe main-contet vai ter esse estilo
        então pra todo elemento com a class main-content voce ta selecionando o h2 que é o filho dessa class*/
.main-content h2{
    font-style: italic;
    color: blue;
}

/* Posso fazer isso tambem com uma classe por outra classe, ou  classe por id, ou tag por classe, etc*/
    /* Qual quer uma */

.main-content-2 .heading{
    font-style: italic;
    color:crimson;
}

/* Posso ser especifico qual elemento com essa class eu quero selecionar 
o elemento tem que estar dentro de uma classe main-content, mas tem que ser um h2 com a classe heading*/
.main-content-2 h2.heading{
    font-style: italic;
    color:purple;
}

/* Mais especifico ainda, tem que ser uma div com a classe main-content com um h3 que tenha a classe heading*/
div.main-content-2 h3.heading{
    font-style: italic;
    color:pink;
}

body div.main-content-2 h4.heading{
    font-style: italic;
    color:brown;
}